:root {
  --tempBorder: solid black;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--tempBorder);
}

#mainIcon {
  height: 3rem;
  align-self: center;
}

#title {
  display: flex;
  gap: 6px;
  padding-left: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

input {
  border-radius: 24px;
  border: dotted transparent;
  background: rgb(137, 243, 197);
  padding: 9px;
}

input:hover {
  border: dotted black
}

form p {
  display: flex;
  margin-bottom: 0;
}

form button {
  background: none;
  border: none;
}

form button:hover {
  cursor: pointer;
}

form img {
  height: 2rem;
}

#error {
  margin: 0;
  align-self: center;
  margin-top: 6px;
}

#unitBtns {
  padding-right: 16px;
}

.unitBtn {
  border-radius: 12px;
  border: none;
  padding: 6px;
  background: rgb(58, 52, 227);
  color: white;
  font-weight: 600;
}

.unitBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#dayForecast {
  width: max-content;
  justify-self: center;
  align-self: center;
  display: grid;
  font-weight: 600;
}

#cityDate {
  grid-column: 1 / span 4;
  text-align: center;
  margin: 16px;
}

#cityDate h2,
#cityDate h4 {
  margin: 0;
}

#dayMain {
  grid-column: 1 / span 2;
}

/* Current weather icon */
#dayMain>p>img {
  height: 80px;
}

/* Icon & current temp div */
#dayMain p:first-of-type {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 0 9px;
}

/* Current temp */
#dayMain>p>img+span {
  font-size: 1.8rem;
}

#dayDetails {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  align-items: center;
  text-align: center;
  row-gap: 9px;
  margin: 0 0 15px 15px;
}

#dayDetails p:first-of-type {
  margin: 3px;
  color: #525252;
  font-size: 0.8rem;
}

#daySky {
  margin: 0 0 6px 0;
}

#feelsLike {
  color: #525252;
  margin: 0;
}

.dayData {
  margin: 3px;
}

.dayIcon {
  height: 24px;
}

table {
  align-self: center;
  border-collapse: collapse;
  letter-spacing: 1px;
  width: max-content;
}

table h2 {
  font-size: 24px;
  margin: 6px;
}

td,
th {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 9px 9px;
  text-align: center;
}