:root {
  --tempBorder: solid black;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--tempBorder);
}

#title {
  display: flex;
  gap: 12px;
  padding-left: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  display: flex;
  margin-bottom: 0;
}

#error {
  margin: 0;
  align-self: center;
  margin-top: 6px;
}

#unitBtns {
  padding-right: 16px;
}

#dayForecast {
  margin-top: 24px;
  width: max-content;
  justify-self: center;
  align-self: center;
  display: grid;
  border: var(--tempBorder);
}

#cityDate {
  grid-column: 1 / span 4;
  width: 100%;
  border: var(--tempBorder);
  text-align: center;
}

#dayMain {
  grid-column: 1 / span 2;
}

/* Current weather icon */
#dayMain>p>img {
  height: 80px;
}

#dayDetails {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  border: var(--tempBorder);
}

#dayDetails div {
  border: var(--tempBorder);
}

#weekForecast {
  display: grid;
  grid-template: repeat(5, 1fr) / 1;
  align-self: center;
}

#weekForecast H3 {
  grid-column: 1;
  justify-self: center;
}

.weekDay {
  display: grid;
  /* grid-template-columns: 2fr 0.7fr 1fr 1fr 1fr; */
  grid-template-columns: 2fr repeat(4, max-content);
  grid-auto-flow: column;
  gap: 16px;
  border: var(--tempBorder);
}

.dayIcon {
  height: 24px;
}